USE [master]
GO
/****** Object:  Database [QuanLyKhoJollibee]    Script Date: 13/06/2026 10:58:56 CH ******/
CREATE DATABASE [QuanLyKhoJollibee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhoJollibee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyKhoJollibee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhoJollibee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyKhoJollibee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhoJollibee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhoJollibee]
GO
/****** Object:  User [quanly]    Script Date: 13/06/2026 10:58:56 CH ******/
CREATE USER [quanly] FOR LOGIN [quanly] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [nhanvien]    Script Date: 13/06/2026 10:58:56 CH ******/
CREATE USER [nhanvien] FOR LOGIN [nhanvien] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 13/06/2026 10:58:56 CH ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [varchar](20) NOT NULL,
	[TenKho] [nvarchar](100) NOT NULL,
	[MaNV] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SucChua] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [varchar](20) NOT NULL,
	[TenNL] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[MaKho] [varchar](20) NULL,
	[Gianhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [varchar](20) NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNV] [varchar](20) NULL,
	[MaNCC] [varchar](20) NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[HanSuDung] [date] NULL,
	[MaNL] [varchar](20) NULL,
	[MaPN] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_TonKho]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------
-- 5. VIEW


-- Tồn kho thực tế + trạng thái hạn sử dụng theo từng lô
CREATE VIEW [dbo].[VW_TonKho] AS
SELECT
    NL.MaNL,
    NL.TenNL,
    NL.DonViTinh,
    NL.SoLuong AS TonKhoHienTai,
    K.MaKho,
    K.TenKho,
    CTPN.MaCTPN AS MaLo,
    PN.NgayNhap AS NgayNhapLo,
    CTPN.SoLuong AS SoLuongNhapLo,
    CTPN.HanSuDung,
    CASE
        WHEN CTPN.HanSuDung IS NULL THEN N'Chưa cập nhật'
        WHEN CTPN.HanSuDung < CAST(GETDATE() AS DATE) THEN N'Hết hạn'
        WHEN CTPN.HanSuDung <= DATEADD(DAY, 30, GETDATE()) THEN N'Sắp hết hạn'
        ELSE N'Còn hạn'
    END AS TrangThaiHan
FROM NguyenLieu NL
JOIN Kho K ON NL.MaKho = K.MaKho
JOIN ChiTietPhieuNhap CTPN ON NL.MaNL = CTPN.MaNL
JOIN PhieuNhap PN ON CTPN.MaPN = PN.MaPN;
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](20) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](20) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_PhieuNhap]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Danh sách phiếu nhập
CREATE VIEW [dbo].[VW_PhieuNhap] AS
SELECT
    PN.MaPN,
    PN.NgayNhap,
    NV.TenNV,
    NCC.TenNCC,
    PN.TongTien
FROM PhieuNhap PN
JOIN NhanVien NV ON PN.MaNV = NV.MaNV
JOIN NhaCungCap NCC ON PN.MaNCC = NCC.MaNCC;
GO
/****** Object:  View [dbo].[VW_ChiTietPhieuNhap]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Chi tiết phiếu nhập kèm hạn sử dụng và trạng thái
CREATE VIEW [dbo].[VW_ChiTietPhieuNhap] AS
SELECT
    CTPN.MaCTPN,
    PN.MaPN,
    PN.NgayNhap,
    NCC.TenNCC,
    NV.TenNV,
    NL.MaNL,
    NL.TenNL,
    NL.DonViTinh,
    CTPN.SoLuong,
    CTPN.DonGia,
    CTPN.SoLuong * CTPN.DonGia AS ThanhTien,
    CTPN.HanSuDung,
    CASE
        WHEN CTPN.HanSuDung IS NULL THEN N'Chưa cập nhật'
        WHEN CTPN.HanSuDung < CAST(GETDATE() AS DATE) THEN N'Hết hạn'
        WHEN CTPN.HanSuDung <= DATEADD(DAY, 30, GETDATE()) THEN N'Sắp hết hạn'
        ELSE N'Còn hạn'
    END AS TrangThaiHan,
    PN.TongTien
FROM ChiTietPhieuNhap CTPN
JOIN NguyenLieu NL ON CTPN.MaNL = NL.MaNL
JOIN PhieuNhap PN ON CTPN.MaPN = PN.MaPN
JOIN NhaCungCap NCC ON PN.MaNCC = NCC.MaNCC
JOIN NhanVien NV ON PN.MaNV = NV.MaNV;
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPX] [varchar](20) NOT NULL,
	[NgayXuat] [date] NULL,
	[MaNV] [varchar](20) NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_PhieuXuat]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Danh sách phiếu xuất
CREATE VIEW [dbo].[VW_PhieuXuat] AS
SELECT
    PX.MaPX,
    PX.NgayXuat,
    NV.TenNV,
    PX.TongTien
FROM PhieuXuat PX
JOIN NhanVien NV ON PX.MaNV = NV.MaNV;
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuat]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuat](
	[MaCTPX] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[MaNL] [varchar](20) NULL,
	[MaPX] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ChiTietPhieuXuat]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Chi tiết phiếu xuất kèm thông tin kho
CREATE VIEW [dbo].[VW_ChiTietPhieuXuat] AS
SELECT
    CTPX.MaCTPX,
    PX.MaPX,
    PX.NgayXuat,
    NV.TenNV,
    NL.MaNL,
    NL.TenNL,
    NL.DonViTinh,
    K.MaKho,
    K.TenKho,
    CTPX.SoLuong,
    CTPX.DonGia,
    CTPX.SoLuong * CTPX.DonGia AS ThanhTien,
    PX.TongTien
FROM ChiTietPhieuXuat CTPX
JOIN NguyenLieu NL ON CTPX.MaNL = NL.MaNL
JOIN PhieuXuat PX ON CTPX.MaPX = PX.MaPX
JOIN NhanVien NV ON PX.MaNV = NV.MaNV
JOIN Kho K ON NL.MaKho = K.MaKho;
GO
/****** Object:  Table [dbo].[CanhBaoTonKho]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanhBaoTonKho](
	[MaCanhBao] [int] IDENTITY(1,1) NOT NULL,
	[MaNL] [varchar](20) NULL,
	[TenNL] [nvarchar](100) NULL,
	[SoLuongHienTai] [int] NULL,
	[NguongCanhBao] [int] NULL,
	[ThoiGianGhiNhan] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCanhBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HaoHut]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HaoHut](
	[MaHH] [varchar](50) NOT NULL,
	[MaNL] [varchar](20) NULL,
	[SoLuongHeThong] [int] NULL,
	[SoLuongThucTe] [int] NULL,
	[SoLuongHaoHut] [int] NULL,
	[PhanTramHaoHut] [decimal](5, 2) NULL,
	[LyDo] [nvarchar](255) NULL,
	[NgayGhiNhan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 13/06/2026 10:58:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](20) NOT NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[Quyen] [nvarchar](30) NULL,
	[MaNV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [SoLuong], [DonGia], [HanSuDung], [MaNL], [MaPN]) VALUES (N'PN01_01', 100, CAST(150000.00 AS Decimal(18, 2)), CAST(N'2026-05-30' AS Date), N'NL01', N'PN01')
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [SoLuong], [DonGia], [HanSuDung], [MaNL], [MaPN]) VALUES (N'PN01_02', 50, CAST(300000.00 AS Decimal(18, 2)), CAST(N'2026-12-31' AS Date), N'NL02', N'PN01')
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [SoLuong], [DonGia], [HanSuDung], [MaNL], [MaPN]) VALUES (N'PN01_03', 40, CAST(15000.00 AS Decimal(18, 2)), CAST(N'2027-06-30' AS Date), N'NL06', N'PN01')
GO
INSERT [dbo].[ChiTietPhieuXuat] ([MaCTPX], [SoLuong], [DonGia], [MaNL], [MaPX]) VALUES (N'PX01_01', 10, CAST(200000.00 AS Decimal(18, 2)), N'NL01', N'PX01')
INSERT [dbo].[ChiTietPhieuXuat] ([MaCTPX], [SoLuong], [DonGia], [MaNL], [MaPX]) VALUES (N'PX01_02', 5, CAST(18000.00 AS Decimal(18, 2)), N'NL06', N'PX01')
INSERT [dbo].[ChiTietPhieuXuat] ([MaCTPX], [SoLuong], [DonGia], [MaNL], [MaPX]) VALUES (N'PX02_01', 20, CAST(150000.00 AS Decimal(18, 2)), N'NL03', N'PX02')
GO
INSERT [dbo].[HaoHut] ([MaHH], [MaNL], [SoLuongHeThong], [SoLuongThucTe], [SoLuongHaoHut], [PhanTramHaoHut], [LyDo], [NgayGhiNhan]) VALUES (N'HH001', N'NL01', 100, 90, 10, CAST(10.00 AS Decimal(5, 2)), N'Hỏng hóc / Biến chất', CAST(N'2026-06-05' AS Date))
INSERT [dbo].[HaoHut] ([MaHH], [MaNL], [SoLuongHeThong], [SoLuongThucTe], [SoLuongHaoHut], [PhanTramHaoHut], [LyDo], [NgayGhiNhan]) VALUES (N'HH002', N'NL02', 60, 50, 10, CAST(16.67 AS Decimal(5, 2)), N'Mất mát / Thất thoát', CAST(N'2026-06-06' AS Date))
INSERT [dbo].[HaoHut] ([MaHH], [MaNL], [SoLuongHeThong], [SoLuongThucTe], [SoLuongHaoHut], [PhanTramHaoHut], [LyDo], [NgayGhiNhan]) VALUES (N'HH003', N'NL03', 35, 30, 5, CAST(14.29 AS Decimal(5, 2)), N'Sai lệch cân đo bàn giao', CAST(N'2026-06-07' AS Date))
GO
INSERT [dbo].[Kho] ([MaKho], [TenKho], [MaNV], [DiaChi], [SucChua], [GhiChu]) VALUES (N'K01', N'Kho Đông', N'NV01', NULL, NULL, NULL)
INSERT [dbo].[Kho] ([MaKho], [TenKho], [MaNV], [DiaChi], [SucChua], [GhiChu]) VALUES (N'K02', N'Kho Thường', N'NV03', NULL, NULL, NULL)
INSERT [dbo].[Kho] ([MaKho], [TenKho], [MaNV], [DiaChi], [SucChua], [GhiChu]) VALUES (N'K03', N'Kho Lạnh', N'NV04', NULL, NULL, NULL)
GO
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuong], [MaKho], [Gianhap]) VALUES (N'NL01', N'Thịt gà', N'Kg', 90, N'K01', NULL)
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuong], [MaKho], [Gianhap]) VALUES (N'NL02', N'Thịt bò', N'Kg', 50, N'K01', NULL)
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuong], [MaKho], [Gianhap]) VALUES (N'NL03', N'Thịt lợn', N'Kg', 30, N'K01', NULL)
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC01', N'Công ty TNHH Thực phẩm 3F Việt', N'Bình Dương', N'0886948068', N'info@3fvietfood.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC02', N'Công ty Cổ phần Tập đoàn Dabaco Việt Nam', N'Bắc Ninh', N'0222382607', N'contact@dabaco.com.vn')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC03', N'Công ty Cổ phần Chăn nuôi C.P. Việt Nam', N'Đồng Nai', N'02513836251', N'web-info@cp.com.vn')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [Email], [NgaySinh], [GioiTinh], [ChucVu]) VALUES (N'NV01', N'Ngọ Kim Ngân', N'0353204005', N'knngo112@gmail.com', CAST(N'2005-12-01' AS Date), N'Nữ', N'Admin')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [Email], [NgaySinh], [GioiTinh], [ChucVu]) VALUES (N'NV02', N'Nguyễn Khánh Vân', N'0961573118', N'khanhvn77@gmail.com', CAST(N'2006-07-07' AS Date), N'Nữ', N'Quản lý')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [Email], [NgaySinh], [GioiTinh], [ChucVu]) VALUES (N'NV03', N'Nguyễn Huyền Linh', N'0987605634', N'linhhuyenn262@gmail.com', CAST(N'2006-02-26' AS Date), N'Nữ', N'Nhân viên')
GO
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNV], [MaNCC], [TongTien]) VALUES (N'PN01', CAST(N'2026-04-30' AS Date), N'NV02', N'NCC01', CAST(30600000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNV], [MaNCC], [TongTien]) VALUES (N'PN02', CAST(N'2026-04-23' AS Date), N'NV02', N'NCC02', CAST(16500000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNV], [MaNCC], [TongTien]) VALUES (N'PN03', CAST(N'2025-12-13' AS Date), N'NV02', N'NCC03', CAST(10000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayXuat], [MaNV], [TongTien]) VALUES (N'PX01', CAST(N'2026-04-14' AS Date), N'NV01', CAST(2090000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayXuat], [MaNV], [TongTien]) VALUES (N'PX02', CAST(N'2026-04-15' AS Date), N'NV04', CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayXuat], [MaNV], [TongTien]) VALUES (N'PX03', CAST(N'2026-04-16' AS Date), N'NV03', CAST(900000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (N'TK01', N'admin', N'123', N'Admin', N'NV01')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (N'TK02', N'quanly', N'123', N'Quản lý', N'NV02')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (N'TK03', N'nhanvien', N'123', N'Nhân Viên', N'NV03')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaCungC__A9D105340A989E1B]    Script Date: 13/06/2026 10:58:56 CH ******/
ALTER TABLE [dbo].[NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaCungC__CA1930A54E294B4A]    Script Date: 13/06/2026 10:58:56 CH ******/
ALTER TABLE [dbo].[NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A9D105342A185AB5]    Script Date: 13/06/2026 10:58:56 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A5D79A9964]    Script Date: 13/06/2026 10:58:56 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TenDangNhap]    Script Date: 13/06/2026 10:58:56 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CanhBaoTonKho] ADD  DEFAULT (getdate()) FOR [ThoiGianGhiNhan]
GO
ALTER TABLE [dbo].[CanhBaoTonKho] ADD  DEFAULT (N'Chưa xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  CONSTRAINT [DEF_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DEF_NgayNhap]  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DEF_TongTienNhap]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [DEF_NgayXuat]  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [DEF_TongTienXuat]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[CanhBaoTonKho]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_NL] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_NL]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_NL] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_CTPX_NL]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MaPX])
REFERENCES [dbo].[PhieuXuat] ([MaPX])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[HaoHut]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_NhanVien]
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD  CONSTRAINT [FK_NguyenLieu_Kho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[NguyenLieu] CHECK CONSTRAINT [FK_NguyenLieu_Kho]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NCC]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NV]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_NV]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NV]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [CHK_DGNhap] CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [CHK_DGNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [CHK_SLNhap] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [CHK_SLNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [CHK_DGXuat] CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [CHK_DGXuat]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [CHK_SLXuat] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [CHK_SLXuat]
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuong] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[NguyenLieu] CHECK CONSTRAINT [CHK_SoLuong]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CHK_GioiTinhNV] CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CHK_GioiTinhNV]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_TuoiNhanVien] CHECK  ((datediff(year,[NgaySinh],getdate())>=(18)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_TuoiNhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [CHK_TongTienNhap] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [CHK_TongTienNhap]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [CHK_TongTienXuat] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [CHK_TongTienXuat]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CHK_Quyen] CHECK  (([Quyen]=N'Nhân Viên' OR [Quyen]=N'Quản lý' OR [Quyen]=N'Admin'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CHK_Quyen]
GO
USE [master]
GO
